.main-body{
  margin: 0 auto;
  width: 75vw;
  
}

@media screen and (max-width:800px) {
  .main-body{
    width: 90vw;
  }
}

@media screen and (min-width:1400px) {
  .main-body{
    width: 1080px;
  }
}



